## Tuples
A tuple consists of a number of values seperated by commas

In [1]:
t = 12345, 54321, 'hello!' #tuple packing

In [2]:
type(t)

tuple

In [3]:
# Tuples may be nested:
u = t, (1,2,3,5,6)

In [7]:
# Tuples are immutable:
t[0] = 88

TypeError: 'tuple' object does not support item assignment

In [8]:
# but they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
type(v)

tuple

Empty tuples are constructed by an empty pair of parentheses; a tuple with one item is constructed by following a value with a comma

In [9]:
empty = ()
singleton = 'hello',    # <-- note trailing comma

## Sets
Python also includes a data type for sets. A set is an unordered collection with no duplicate elements.

**Curly braces or the set() function can be used to create sets. Note: to create an empty set you have to use set(), not {}; the latter creates an empty dictionary**

In [10]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed

{'apple', 'pear', 'banana', 'orange'}

In [11]:
'orange' in basket                 # fast membership testing

True

In [13]:
a = set('abracadabra')
b = set('alacazam')
print(a)                                 # unique letters in a
print(a-b)                               # letters in a but not in b
print(a | b)                             # letters in a or b or both
print(a & b)                             #letters in a and b
print(a ^ b)                            # letters in a or b but not both

{'d', 'c', 'a', 'r', 'b'}
{'d', 'b', 'r'}
{'d', 'z', 'm', 'c', 'a', 'l', 'r', 'b'}
{'c', 'a'}
{'d', 'z', 'b', 'm', 'l', 'r'}

In [15]:
#set comprehension
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

## Dictionaries {Key:Value}

In [16]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [17]:
list(tel)

['jack', 'sape', 'guido']

In [18]:
# The dict() constructor builds dictionaries directly from sequences of key-value pairs:

dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [19]:
# dict comprehensions can be used to create dictionaries from arbitrary key and value expressions:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [20]:
#When the keys are simple strings, it is sometimes easier to specify pairs using keyword arguments:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

### Looping Techniques

In [1]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [2]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [4]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [5]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1